@import "../../global.scss";

.violinPlot {
    height: 100vh;
    .violinWrapper {
        margin: 30px auto;
        height: calc(100vh - 60px);
        width: auto;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            margin-left: 0;
            margin-bottom: 0.5em;
            font-size: 45px;
        }
        p {
            margin-left: 0;
            line-height: 1.8em;
        }
    }
}
#violinPlot {
    text {
        font-family: $mainHeading;
        fill: $mainWhite;
        stroke: none;
        font-size: 14px;
    }
    background-color: $main6dp;
    border-radius: 10px;

    .band {
        stroke: $mainWhite;
        fill: $mainPurple;
        fill-opacity: 0.8;
    }

    .sun {
        circle {
            fill: $mainYellow;
            stroke: $mainWhite;
        }
        text {
            font-size: 16px;
        }
    }

    .earth {
        line {
            stroke: $mainBlue;
            stroke-width: 3px;
            stroke-linecap: round;
        }
        text {
            font-size: 16px;
        }
    }

    .mars {
        line {
            stroke: $mainRed;
            stroke-width: 3px;
            stroke-linecap: round;
        }
        text {
            font-size: 16px;
        }
    }

    .jupiter {
        line {
            stroke: $mainOrange;
            stroke-width: 3px;
            stroke-linecap: round;
        }

        text {
            font-size: 16px;
        }
    }

    .land {
        fill: $main24dp;
    }

}