@import "../../global.scss";

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .introWrapper {
        padding: 30px;
        width: 80vw;
        max-width: 800px;
        background-color: $main2dp;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        h1 {
            margin: 0 0 20px;
            font-size: 60px;
            text-align: center;
        }
    
        h2 {
            font-family: $mainHeading;
            em {
                font-weight: 800;
                color: $mainPurple;
            }
        }

        h3 {
            font-family: $mainBody;
        }

        hr {
            margin: 10px 0 30px;
            width: calc(100% - 200px);
        }

        a {
            margin: 10px 0 15px 0;
        }
        .bodyText {
            p {
                margin-bottom: 25px;
                font-size: 18px;
                line-height: 1.7em;
            }
            :last-child {
                margin-bottom: 0;
            }
        }
    }

    .arrow {
        position: absolute;
        width: 100vw;
        bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrowIcon {
            color: $mainPurple;
            font-size: 50px;
            margin-bottom: 0;
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            50% {
                margin-bottom: 20px;
            }

            100% {
                margin-bottom: 0;
            }
        }
    }

    .links {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            margin: 0;
            margin-left: 1em;
            padding: 0.5em 1em;
            font-size: 1em;
          
            color: $mainWhite;
            text-decoration: underline;
            text-decoration-color: transparent;
            text-underline-offset: 0.1em;
            transition: all 0.3s ease;
            border-radius: 9px;
            border: 2px solid $mainPurple;
            background-color: transparent;
            cursor: pointer;
            scale: 1;
          
            &.exit {
                display: none;
            }
          
            &:hover{
                color: $mainPurple;
                text-decoration-color: $mainPurple;
                background-color: rgba($mainPurple, 0.1);
            }
          }
    }
}
