@import '../../global.scss';

.hexBin {
    height: 100vh;

    .hexWrapper {
        display: flex;
        margin: 15px !important;
        width: calc(100vw - 30px);
        height: calc(100vh - 30px);
        align-items: center;
        border-radius: 15px;
        background-color: $main1dp;
    
        .svgWrapper {
            margin: 0 auto;
            
            .hexbin:hover .hex{
                opacity: 0.3;
            }
            .hex:hover {
                opacity: 1 !important;
            }
        }
    }
}