@import './global.scss';

.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  background-color: $mainBlack;
  color: $mainWhite;
  width: 100vw;

  h1 {
    margin: 10px 30px;
  }

  h2, h3 {
    margin: 5px 30px;
  }

  p {
    margin-left: 30px;
    max-width: 900px;
  }

  .hexBin {
    margin: 10px auto;
  }
}
