//Font Import
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&family=Libre+Franklin:wght@300;400;500;600&family=Roboto+Slab:wght@300;400;600&display=swap');

$mainLightBlue: #90faff;
$mainPurple: #8390FA;
$mainWhite: #EEEEEE;
$mainPink: #FF70D3;
$mainOrange: #F2A57F;
$mainYellow: #F9F785;
$mainBlue: #4DB2F8;

$mainBlack: #121212;
$main1dp: #1e1e1e;
$main2dp: #232323;
$main3dp: #252525;
$main4dp: #272727;
$main6dp: #2c2c2c;
$main8dp: #2f2f2f;
$main12dp: #333;
$main16dp: #353535;
$main24dp: #383838;

$mainHeading: 'Exo 2', sans-serif;          //Main Heading
$secondaryHeading: 'Roboto Slab', serif;    //Secondary Heading
$mainBody: 'Libre Franklin', sans-serif;    //Main Body

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

html, body {
    background-color: $mainBlack;
    color: $mainWhite;

    h1 {
        font-family: $mainHeading;
        font-weight: 600;
    }

    h2, h3, h4, h5, h6 {
        font-family: $secondaryHeading;
        font-weight: 400;
    }

    p, a {
        font-family: $mainBody;
        font-weight: 400;
    }

    a {
        color: $mainPurple;
    }
}
