$mainScale0: #040404ff;
$mainScale1: #381b46ff;
$mainScale2: #782867ff;
$mainScale3: #b5456fff;
$mainScale4: #e67651ff;
$mainScale5: #f5b84cff;
$mainScale6: #fffe9eff;

$mainPurple: #8390faff;
$mainLightPurple: #B8B5FF;
$mainWhite: #f9f9f9ff;
$mainBlack: $mainScale0;

html, body {
    background-color: $mainBlack;
    color: $mainWhite;

    a {
        color: $mainLightPurple;
    }
}